.footer {
    background: #000d6b;
    padding-top: 50px;
    padding-bottom: 15px;
   
  }
  
  /* .footer__logo i {
    color: #fff;
    font-size: 400px;
    background-image: url("../assets/all-images/helmiclogo.png");
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -150px;
    margin-top: 15px;
    line-height: 30px;
  }
  
  .footer__logo span {
    color: #fff;
    font-weight: 400;
    font-size: .9rem;
  }
  
  .footer__logo-content {
    color: rgba(255, 255, 255, 0.715);
    margin-top: 15px;
    line-height: 30px;
  } */
  
  .quick__link {
    border: none !important;
    background: transparent !important;
    padding-left: 400px;
    align-items: center;
  }
  
  .quick__link a {
    color: rgba(255, 255, 255, 0.715);
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
  }
  
  .quick__link a:hover {
    color: #ffd700;
  }
  
  .footer__link-title {
    color: #fff;
  }
  
  .office__info {
    color: rgba(255, 255, 255, 0.715);
    font-weight: 300;
  }
  .section__description{
    color: #b4b4b4;
    
  }
  
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #1817172f;
    border-radius: 50px;
    background: #020a4de9;
  }
  
  .newsletter input {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .newsletter span i {
    color: #fff;
  }
  
  .footer__bottom {
    border-top: 1px solid #dddddd2f;
  }
  
  @media only screen and (max-width: 768px) {
    .footer__logo-content {
      font-size: 0.8rem;
    }
  
    .quick__link,
    .office__info {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  
    .footer__link-title {
      font-size: 1rem;
      margin-top: 15px;
    }
  
    .footer__bottom p {
      font-size: 0.7rem;
    }
  
    
  }