.header {
 position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 7, 14, 0.242);
   
}

.header_top {
    padding: 10px 0px;
    background: #000d6b;
    color: #fff;
  }

  .header__top__left {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .header__top__left span{
    font-size: 0.8rem;
  }

  .header__top__help {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .header__top__help i {
    background: #fff;
    color: #000d6b;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.5rem;
  }

  .header__top__right a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
  }

  .header__top__right a:hover{
    color:#434ffd;
  }

  /* ============ header middle style =========== */

  .header__middle {
    padding: 22px 0px;
  }
  
  .logo h1 a span {
    font-size: 0.9rem;
  }
  
  .logo h1 a i {
    font-size: 2.0rem;
  }
  
  .logo h1 a {
    text-decoration: none;
    color: #000d6b;
    font-weight: 700;
  }
  
  .header__location img {
    width: 40%;
    height: auto;
    transition: transform 0.3s ease;
    display: flexbox;
    margin-bottom: 30px;
   
  }
  
  .header__location span i {
    font-size: 1.0rem;
    color: #000d6b;
    display: flex;
  }
  
  .header__location-content h4 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #000d6b;
  }
  
  .header__location-content h6 {
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  /* Header button styles */
  .header__btn {
    background: #000d6b !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .header__btn a {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    text-decoration: none;
    color: #fff;
    justify-content: end;
    font-size: 0.8rem;
  }
  
  .header__btn a:hover {
    color: #434ffd;
  }
  

  .main__navbar {
    padding: 15px 0px;
    background: #000d6b;
  }
  
  .mobile__menu i {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .mobile__menu {
    display: none;
  }
  
  .menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
  }
  
  .nav__item {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.9rem;
  }
  
  .nav__item:hover {
    color: #434ffd;
  }
  
  .search__box {
    border: 1px solid #7c8a972f;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #020a4de9;
  }
  
  .search__box input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  
  .search__box input::placeholder {
    font-size: 0.8rem;
  }
  .search__box span i {
    color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
  }
  
  .nav__active {
    color: #ffd700;
  }
  
  @media only screen and (max-width: 768px) {
    .header{
      position: fixed;
    }

    .header__top,
    .header__middle,
    .nav__right {
      display: none;
    }
  
    .mobile__menu {
      display: block;
    }
    
    .navigation {
      background: rgba(99, 104, 139, 0.6);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      display: none;
    }
  
    .menu {
      width: 200px;
      height: 100%;
      background: #000d6b;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      justify-content: center;
    }
  
    .menu a {
      color: #fff;
      font-weight: 600;
      font-size: 0.9rem;
    }
  
    .menu__active {
      display: block;
    }
  }


 

  @media only screen and (max-width: 995px) {

    .header__location img {
      width: 95%;
      height: auto;
      transition: transform 0.3s ease;
      display: flexbox;
      margin-bottom: 35px;
    }

    .header__location-content h4 {
      font-size: 0.8rem;
      font-weight: 500;
      color: #000d6b;
    }
    
    .header__location-content h6 {
      font-weight: 600;
      font-size: 0.8rem;
    }
    
    .nav__item {
      font-size: 0.8rem;
    }

    .search__box {
      border: 1px solid #7c8a972f;
      padding: 7px 10px;
      border-radius: 50px;
      margin-left: 15px;
    }
    
  }