.service__item span i {
    font-size: 2.5rem;
    color: #ffd700;
    align-items: center;
  }
  .section__subtitle1{
    color: #202020;
  }
  .section__title1{
    color: #000d6b;
  } 
  .service__item h6 {
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .service__item h6:hover {
    color: #ffd700;
  }
  
  @media only screen and (max-width: 768px) {
    .service__item h6 {
      font-size: 1.1rem;
    }
  }