.payment label {
    font-weight: 600;
    color: #000d6b;
  }
  
  .payment button {
    padding: 8px 15px;
    border-radius: 5px;
    background: #000d6b;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    outline: none;
  }

  .payment img{
    width: 25%;
  }